@use './_colors.scss' as *;

form input {
        display:block;
}

.title-image {
        width: 300px;           /* or any size */
        height: 300px;
        border-radius: 5%;     /* makes it a circle */
        object-fit: cover;      /* ensures it crops nicely */
        border: 2px solid $monokai-pink; /* optional border */
        display: block;
        margin-bottom: 25px;
}

.thumb-image {
        width: 100px;           /* or any size */
        height: 100px;
        border-radius: 5%;     /* makes it a circle */
        object-fit: cover;      /* ensures it crops nicely */
        border: 2px solid $monokai-green; /* optional border */
        display: block;
}

.thumb-image.stub {
        opacity: 10%;
        border: 2px solid $monokai-comments;
}

.tool-entry {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
}

.tool-entry a {
        margin: 10px;
}


.form-group {
        margin: 10px;
}

.form-group label{
        font-weight: 500;
}


h2 {
        margin-bottom: 10px;
        margin-top: 10px;
}

h1 {
        margin-bottom: 10px;
        margin-top: 10px;
}

.applications-list {
        list-style: none;
}

.buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
}